.header {
    height: 56px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #fff;

    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 20px;
    width: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.youtube-logo {
    height: 21px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 625px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 35px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid rgb(187, 187, 187);
    padding-left: 15px;
    font-size: 16px;
    box-shadow: inset 1px 1px 3px rgb(228, 227, 227, 0.7);
    width: 0;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-button {
    width: 60px;
    height: 38px;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(187, 187, 187);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -1px;

}

.search-icon {
    height: 17px;
}

.search-button, .voice-search-button, .add-video-container, .notification-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip, .voice-search-button .tooltip,
 .add-video-container .tooltip, .notification-container .tooltip  {
    font-size: 12px;
    background-color: rgb(111, 111, 111);
    color: white;
    padding: 8px;
    border-radius: 5px;
    white-space: nowrap;

    position: absolute;
    bottom: -45px;

    opacity: 0;

    transition: opacity 0.25s;

    pointer-events: none;
}

.search-button:hover .tooltip, .voice-search-button:hover .tooltip,
 .add-video-container:hover .tooltip, .notification-container:hover .tooltip {
    opacity: 1;
}

.voice-search-button {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 7px;
    background-color: rgb(241, 241, 241);
}

.voice-search-icon {
    height: 20px;
    width: 20px;
}

.right-section {
    width: 125px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.add-video-icon{
    width: 24px;
    height: 24px;
}

.bell-icon{
    width: 24px;
    height: 24px;
}



.notification-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: #cc0000;
    color: white;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 10px;
}

.user-profile-picture{
    height: 32px;
    width: 32px;
    border-radius: 16px;
}
