.sidebar {
    width: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    background-color: #fff;
    z-index: 200;
    padding-top: 5px;

}

.sidebar-link {
    height: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(240, 240, 240);
}

.sidebar-link img {
    height: 22px;
    margin-bottom: 7px;
}

.sidebar-link div {
    font-size: 12px;
}