
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

@media (max-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (min-width: 1000.1px) and (max-width : 1399.9px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media (min-width: 1400px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-preview {
    cursor: pointer;
}

.thumb {
    width: 100%;
    border-radius: 10px;
    
}

.search-bar {
    display: block;
}

.thumb-row{
    margin-bottom: 8px;
    position: relative;
}

.channel-picture {
    vertical-align: top;
}

.profile-picture {
    width: 36px;
    border-radius: 100%;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 10px;
}

.video-author, .video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 7px;
}

.video-time {
    font-size: 13px;
    font-weight: 500;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 13px;
}